- content_for :nav_title do
  Bookmarks
- content_for :meta_title do
  Bookmarks

#bookmarks.p-2.pt-0.w-100.entries
  - if @entries.any?
    = render PageComponent.new(entries: @entries, skip_viewed: true)
  - else
    .flex.flex-row.justify-center.pt-4.mt-4
      .flex.flex-col
        .pb-4 Nothing yet.
        = render IconComponent.new(name: :sparkles, size: 24)