- content_for :title do
  Read Later

#read_later
  - if @entries.size > 0
    = render partial: "/shared/entries", locals: { entries: @entries }
  - else
    %p
      You can bookmark
      = link_to "articles", root_path
      and read them later here.
      %br
      Click
      = fa_regular "star", size: 1
      to toggle.
      