- content_for :nav_title do
  Edit Filter
- content_for :meta_title do
  Edit Filter

#new-filter.p-2.pt-0.w-100
  .p-2
    %nav.flex.items-center
      .text-2xl
        = link_to "Filters", admin_filters_path, class: "text-gray-600"
      .text-2xl
        = render IconComponent.new(name: :chevron_right)
      .text-2xl Edit Filter

    .pt-4
      = render 'form', filter: @filter
