- content_for :nav_title do
  Tagged
  = @tag
- content_for :title do
  Tagged
  = @tag

- if mobile?
  #today.p-2.pt-0.w-100.entries
    = render PageComponent.new(entries: @entries)
- else
  #today.p-4.w-100.entries
    = render PageComponent.new(entries: @entries)