- content_for :title do
  = @tag

#tagged.p-4.w-100.entries
  %nav(aria-label="breadcrumb")
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to "Tags", tags_path
      %li.breadcrumb-item.active
        = @tag
  = render PageComponent.new(entries: @entries)
  