- content_for :title do
  = @tag

#tagged.p-4.w-100.entries
  %nav(aria-label="breadcrumb")
    %ol.breadcrumb
      %li.breadcrumb-item
        Tags
      %li.breadcrumb-item.active
        = @tag
  = render "/shared/page", entries: @entries, bookmarks: @bookmarks, viewed: @viewed
  