.border-end.d-flex.flex-column.justify-content-between(style="height: calc(100vh - 55px);")
  .pt-3
    .d-flex.justify-content-center
      %h5.rounded-circle.bg-primary.text-light.avatar(title="#{current_user.email}")
        = current_user.name.first
  .d-flex.flex-column.align-items-center
    %h5
      =link_to admin_discover_path, class: "text-decoration-none", title: "Discover" do
        %i.bi.bi-binoculars
    %h5
      =link_to admin_rules_path, class: "text-decoration-none", title: "Rules" do
        %i.bi.bi-card-checklist
    %h5
      =link_to new_admin_subscription_path, class: "text-decoration-none", title: "Add your own RSS subscription" do
        %i.bi.bi-plus  
    %h5.pt-4
      = link_to destroy_user_session_path, method: :delete, title: "Log out" do
        %i.bi.bi-lock
    