- content_for :meta_title do
  Oops

.w-full.pt-40
  .flex.flex-col
    .flex.flex-row.justify-center.items-center
      .ms-4.text-5xl Oops
    .flex.flex-row.justify-center.items-center.pt-10
      .text-xl.text-center
        Bad Request.
        %br
        = link_to root_path do
          &larr; Go back.
