= form_with(url: admin_discover_search_path, method: :get, local: true) do |form|
  .columns
    .column.is-on-third
      .field
        .control
          = form.text_field :query, class: "input", placeholder: "Find feeds by title or tags", value: @query
    .column
      .field
        = form.submit "Search", class: "button is-primary"

  - if @query
    .columns
      .column.is-size-8
        Found
        #{pluralize @feeds.total_count, "result"}
        &dash;
        =link_to "Clear", admin_discover_path