- content_for :title do
  Search results for "#{@query}"

#search
  - if mobile?
    .pb-2.fs-11 ... capped at first 100 results
  - else
    %h6.pb-2
      Search results
      .fs-11 ... capped at first 100 results

  = render "form"
  
  .pt-4
    = render "/shared/entries", entries: @entries, bookmarks: @bookmarks, viewed: @viewed

  