.shadow-sm.border.rounded.m-2(class="#{'bg-slate-100' unless @subscription.active?}")
  .flex.flex-col.justify-between.h-full
    .flex.flex-col.p-3
      = body
    .border-t.p-3
      .flex.flex-row.justify-between
        = footer