- if mobile?
  = render MobileEntryComponent.with_collection(@entries, viewed: @viewed, subscription_by_feed: @subscription_by_feed, tags_by_subscription: @tags_by_subscription)
- else
  = render DesktopEntryComponent.with_collection(@entries, viewed: @viewed, subscription_by_feed: @subscription_by_feed, tags_by_subscription: @tags_by_subscription)
