- content_for :title do
  Edit Rule

#edit-rule.mobile-padding
  .subtitle.pt-3
    Edit Rule

  %p
    = link_to admin_rules_path do
      = fa_solid "chevron-left", size: 1
      Back

  .pt-4
    = render 'form', rule: @rule
