#rules.container.pt-2
  %h1 Rules

  .pt-3.pb-3
    = link_to new_admin_rule_path, class: "text-decoration-none" do
      %i.bi.bi-plus
      New Rule

  %p
    Filter out anything where
  .row.pb-4
    .col-5
      %ul.list-group
        - @rules.each_with_index do |rule, index|
          %li.list-group-item
            .d-flex.justify-content-between.align-items-center
              %span
                =rule.human_readable
              %div
                - if index + 1 < @rules.size
                  %strong.fw-lighter &nbsp;OR
                = link_to edit_admin_rule_path(rule.id), class: "btn" do
                  %i.bi.bi-pencil
                = link_to admin_rule_path(rule.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" do
                  %i.bi.bi-trash
