#rules.container.pt-2
  %h1 Rules

  .pt-3.pb-3
    = link_to new_admin_rule_path, class: "text-decoration-none" do
      %i.bi.bi-plus
      New Rule

  .row
    - @rules.group_by(&:group_id).each do |group_id, inner_rules|
      .col-12.col-xl-4
        .card.m-2
          .card-body
            %h5.card-title
              Rule #
              =group_id              
            .card-text
              .d-flex.flex-column
                - inner_rules.each_with_index do |rule, index|
                  .d-flex.justify-content-between
                    .d-flex.align-items-center
                      =rule.human_readable
                      - if index + 1 < inner_rules.size
                        %strong.fw-lighter.fs-11 &nbsp;and
                    .d-flex.justify-content-end
                      = link_to edit_admin_rule_path(rule.id), class: "btn" do
                        %i.bi.bi-pencil
                      = link_to admin_rule_path(rule.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" do
                        %i.bi.bi-trash
