- content_for :title do
  Watches

= render "menu", watches_by_group: @watches_by_group

#watches
  .p-4.w-100
    %h4
      - @watches.sort_by(&:watch_type).each.with_index do |watch, index|
        = watch.human_readable
        - if index + 1 < @watches.size
          %strong.fw-lighter &nbsp;and

    #watched-entries
      = render "/shared/entries", entries: @entries, bookmarks: @bookmarks, viewed: @viewed