- content_for :meta_title do
  Oops

.w-full.pt-40
  .flex.flex-col
    .flex.flex-row.justify-center.items-center
      = render IconComponent.new(name: :exclamation_triangle, size: 16)
      .ms-4.text-5xl Oops
    .flex.flex-row.justify-center.items-center.pt-10
      .text-xl.text-center
        Something broke.
        %br
        Don't worry, we know about it.
