- content_for :nav_title do
  Yesterday
- content_for :title do
  Yesterday

- if mobile?
  #yesterday.p-2.pt-0.w-100.entries
    = render PageComponent.new(entries: @entries)
- else
  #yesterday.p-4.w-100.entries
    = render PageComponent.new(entries: @entries)