.read-later-wrapper(class="read-later-#{entry.id}")
  %span.spinner-grow.spinner-grow-sm.bg-primary.d-none
  %span.read-later-read-it(class="#{'d-none' unless user_signed_in? && entry.read_later?(current_user)}")
    =link_to read_later_read_it_path(entry), remote: true, method: :delete, class: "text-decoration-none read-later-read-it-link", title: "I've read it", target: "_blank" do
      %i.bi.bi-star-fill
  %span.read-later(class="#{'d-none' if user_signed_in? && entry.read_later?(current_user)}")
    =link_to read_later_path(entry), remote: true, method: :post, title: "Read it later", class: "text-decoration-none read-later-link", target: "_blank" do
      %i.bi.bi-star