- content_for :title do
  Read Later

#read_later.mobile-padding
  - if @entries.size > 0
    = render partial: "/sharedv2/entries", locals: { entries: @entries }
  - else
    %p
      You can bookmark
      = link_to "posts", root_path
      and read them later here.
      %br
      Just click
      = fa_solid "star", size: 1
      and you're all set. It's easy as!
      