- content_for :title do
  Read Later

#today.container.pt-3
  %h1 Read Later

  - if @entries.size > 0
    = render partial: "/shared/page", locals: { entries: @entries }
  - else
    %p
      You can bookmark
      = link_to "articles", root_path, class: "text-decoration-none"
      and read them later here.
      %br
      Just click <i class="bi bi-star"></i> and you're all set. It's easy as!
  
