@import 'bulma/bulma';

@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/regular.scss";

.is-complementary {
  background-color: #d1008b !important;
  color: white !important;
}

.fa-size-2 {
  font-size: 2rem;
}

a { color: $primary-dark; }

.is-size-8 {
  font-size: 0.5rem;
}

.menu {
  background: $primary;
  position: sticky;
  top: 0px;

  li {
    a {
      text-align: center;
      &.is-active {
        background: $primary-dark;
        color: unset;
      }
      &:hover {
        background: $success-dark;
      }
    }
  }

  .tag {
    font-size: 0.5rem;
    position: absolute;
    left: 10px;
  }
}

.tag {
  &--small {
    font-size: 0.5rem !important;
  }
}

.entries{
  &--table {
    width: calc(100% - 1.5rem);
  }

  &--viewed {
    background: rgba(0, 209, 178, 0.04)
  }
}

@include mobile {
  .mobile-padding {
    position: relative;
    top: 3.25rem;
  }

  .entries {
    &--table {
      width: unset;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .navbar {
    .navbar-item {
      display: flex;
      align-items: center;

      .tag {
        margin-left: 0.5rem;
        font-size: 0.5rem;
      }

      &.is-active {
        color: $primary-dark;
      }
    }
  }

  #read_later {
    padding: 0.5rem;
  }
}

.message {
  position: absolute;
  bottom: 10px;
  right: 10px;
}