body.darkmode {  
  $orange: #d16601;
  $orange-dark: #9b4d04;
  $orange-darker: #884b12;
  $black: #000;
  $white: #fff;
  $grey-dark: hsl(0, 0%, 29%);
  $grey: grey;
  $grey-darker: hsl(0, 0%, 21%);
  $dark: hsl(0, 0%, 21%);
  $white-ter:	hsl(0, 0%, 96%);

  background-color: $black;
  color: $white;

  a { color: $orange; }
  
  form {
    input {
      background: $grey-dark;
      color: $white;
      border-color: $grey;
      &.button.is-primary {
        background: $orange;
      }
    }
    input::placeholder { color: $white; }
    input:hover { border-color: $orange-darker; }
    input:focus { border-color: $orange-dark; }
  }

  aside.menu {
    background: $orange;

    a {
      color: $dark;
    }

    a.is-active {
      background: $orange-darker;
    }
    li {
      a:hover {
        background: $orange-dark; 
      }
    }
  }
  
  .card {
    background: #2c2c2c;
    color: $white;
  }

  .tag.is-primary {
    background-color: $orange-dark !important;
  }

  .modal.is-active {
    .modal-content {
      .box {
        background: #2c2c2c;
        color: $white;
      }
    }
  }

  .table {
    background-color: $grey-dark;
    color: $white-ter;

    a.button.is-white,
    button.button.is-white {
      border-color: $orange-darker;
      background-color: $orange;
      color: $white-ter;
    }

    tr:hover td {
      background-color: $grey-darker;
    }
  }

  nav.pagination {
    a.button.is-primary {
      background-color: $orange;
    }
  }
}