.steps.d-flex.flex-row.pt-4
  .d-flex.flex-row.align-items-center.pe-4
    .rounded-circle.p-2.pe-3.ps-3(class="#{@step == :step_1 ? 'bg-info' : 'bg-light'}")
      1
    .ps-3 Add website
    .ms-3.border-bottom.bg-secondary(style="width: 100px;")

  .d-flex.flex-row.align-items-center.pe-4
    .rounded-circle.p-2.pe-3.ps-3(class="#{@step == :step_2 ? 'bg-info' : 'bg-light'}")
      2
    .ps-3 Select Feed
    .ms-3.border-bottom.bg-secondary(style="width: 100px;")

  .d-flex.flex-row.align-items-center.pe-4
    .rounded-circle.p-2.pe-3.ps-3(class="#{@step == :step_3 ? 'bg-info' : 'bg-light'}")
      3
    .ps-3 Add Details
    .ms-3.border-bottom.bg-secondary(style="width: 100px;")

  .d-flex.flex-row.align-items-center.pe-4
    .rounded-circle.p-2.pe-3.ps-3(class="#{@step == :step_4 ? 'bg-info' : 'bg-light'}")
      4
    .ps-3 Done!