- content_for :title do
  Edit RSS subscription

#new-sub
  %h6.pb-2
    Edit RSS subscription

  = form_with(model: @subscription, url: admin_subscription_path(@subscription), method: :patch, local: true) do |form|
    = render form, subscription: @subscription
    