- content_for :title do
  Add your own RSS subscription

#new-sub
  .p-4.w-100
    %h4
      = link_to "Subscriptions", admin_subscriptions_path
      &gt; New

    = form_with(model: @subscription, url: [:admin, @subscription], method: :post, local: true) do |form|
      = render form, subscription: @subscription