- content_for :title do
  Add your own RSS subscription

#new-sub
  %h6.pb-2
    Add your own RSS subscription

  = form_with(model: @subscription, url: [:admin, @subscription], method: :post, local: true) do |form|
    = render form, subscription: @subscription