.d-flex(class="#{mobile? ? 'justify-content-center' : 'justify-content-end'}")
  - if mobile?
    .row
      .col-6
        = link_to_previous_page list, fa_solid("chevron-left", size: 1)
      .col-6
        = link_to_next_page list, fa_solid("chevron-right", size: 1)
  - else
    = paginate list