.flex.flex-col(data-controller="mobileNav")
  #navigation.p-2.pb-0
    .w-full.border.rounded.shadow-sm
      .p-2.flex.flex-row.items-center.w-full
        %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5")
        .ms-2
          = yield :nav_title
  #content.pt-2
    = yield